@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    overflow-x: hidden;
}

.nav-logo {
    margin-left: 10%;
}

.nav-logo h1 {
    color: #9D4CB1;
}

.nav-logo a {
    text-decoration: none;
}

.navpane {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-left: -50px;
    width: 100%;
}

.navpane h1 {
    position: relative;
    top: 8px;
}

.nav-icons {
    font-size: 17px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 102px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

#botao-create{
    display: flex;
    gap: 3px;
    padding: 6px;
    padding-left: 12px;
    border-height: 1px;
    background-color: #AFAFAF;
    color: black;
    font-weight: 500;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer
}

#heart-button{
    height: 15px;
    width: 15px;
}

.nav-icons a {
    color: black;
    text-decoration: none;
}

.nav-search-box {
    display: flex;
    align-items: center;
    padding-left: 30%;
}

.nav-search-box input {
    height: 30px;
    width: 10vw;
    padding-left: 12px;
    padding-right: 30px;
    border-radius: 6px;
    border-width: 1px;
}

.nav-search-box button {
    height: 30px;
    width: 30px;
    border-width: 1px;
    border-radius: 6px;
    background-image: url(../assets/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
}
.nav-search-box a {
    text-decoration: none;
}

hr {
    margin: 0;
}

.header-container {
    padding-left: 19.5%;
    display: flex;
    justify-content: start;
    color: white;
    width: 100%;
    height: 10vh;
    background-color: #602F6D;
}

.title-container h1 {
    margin: 0;
    font-size: 27px;
}

.subtitle-container p {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.inside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content {
    margin-left: 18%;
    margin-right: 18%;
}

.popular-songs-container {
    margin-top: 12px;
}

#musica-artista-playlist {
    font-weight: 300;
}

#musica-nome-playlist {
    padding-top: 6px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2px;
}

#autor-playlist {
    font-weight: bold;
}

#titulo-playlist {
    font-size: 22px;
    font-weight: 700;
}

hr {
    height: 0.5px;
    background-color: #9D4CB1;
    margin: 5px 0;
}

.playlist {
    width: 26%;
    border: 1px groove black;
    margin-bottom: 12px;
    border-radius: 2%;
    margin-right: 30px;
}

.playlist h3, span, p, input {
    margin-left: 5px;
}

.playlist-item{
    margin-top: 12px;
    margin-bottom: 12px;
}

.pl-title {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #45274d;
}

.tabela-grafico {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.tabela-grafico th,
.tabela-grafico td {
    padding: 8px;
}

.tabela-grafico th{
    color: #9D4CB1;
}

#musica-table{
    font-size: 17px;
    font-weight: 500;
}

#artista-table{
    font-weight: 300;
}

.separa-autor-musica{
    display: flex;
    gap: 5%;
}

.pl-wrap{
    display: flex;
    flex-wrap: wrap;
}

.message-musicas{
    display: flex;
    justify-content: center;
    color: #9D4CB1;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
